{% extends "appbuilder/base.html" %}


{% block content %}

<div class="col-md-12">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">KPIs des 7 derniers jours</h4> 
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>KPIS</th>
                <th>Valeurs</th>
                <th>Variation vs 2015</th>
            </tr>
            <tr>
                <th>Nombre de commandes livrees</th>
                <td>{{ param1[0] }}</td>
                <td>{{ param1[1] }}</td>
            </tr>
            <tr>
                <th>Chiffre d affaire</th>
                <td>{{ param1[2] }}</td>
                <td>{{ param1[3] }}</td>
            </tr>
            <tr>
                <th>Nb produits moy</th>
                <td>{{ param1[4] }}</td>
                <td>{{ param1[5] }}</td>
            </tr>
            <tr>
                <th>Panier moyen (sans FS)</th>
                <td>{{ param1[6] }}</td>
                <td>{{ param1[7] }}</td>
            </tr>
        </table>
    </div>
</div>
</div>


<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Taux de remplissage</h4> 
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>{{ param2.keys()[0] }}</th>
                    <th>{{ param2.keys()[1] }}</th>
                    <th>{{ param2.keys()[2] }}</th>
                </tr>
                <tr>
                    <td>{{ param2['Date'][0] }}</td>
                    <td>{{ param2['No de magasin'][0] }}</td>
                    <td>{{ param2['Taux de remplissage'][0] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][1] }}</td>
                    <td>{{ param2['No de magasin'][1] }}</td>
                    <td>{{ param2['Taux de remplissage'][1] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][2] }}</td>
                    <td>{{ param2['No de magasin'][2] }}</td>
                    <td>{{ param2['Taux de remplissage'][2] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][3] }}</td>
                    <td>{{ param2['No de magasin'][3] }}</td>
                    <td>{{ param2['Taux de remplissage'][3] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][4] }}</td>
                    <td>{{ param2['No de magasin'][4] }}</td>
                    <td>{{ param2['Taux de remplissage'][4] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][5] }}</td>
                    <td>{{ param2['No de magasin'][5] }}</td>
                    <td>{{ param2['Taux de remplissage'][5] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][6] }}</td>
                    <td>{{ param2['No de magasin'][6] }}</td>
                    <td>{{ param2['Taux de remplissage'][6] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][7] }}</td>
                    <td>{{ param2['No de magasin'][7] }}</td>
                    <td>{{ param2['Taux de remplissage'][7] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][8] }}</td>
                    <td>{{ param2['No de magasin'][8] }}</td> 
                    <td>{{ param2['Taux de remplissage'][8] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][9] }}</td>
                    <td>{{ param2['No de magasin'][9] }}</td>
                    <td>{{ param2['Taux de remplissage'][9] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][10] }}</td>
                    <td>{{ param2['No de magasin'][10] }}</td>
                    <td>{{ param2['Taux de remplissage'][10] }}</td>
                </tr>
                <tr>
                    <td>{{ param2['Date'][11] }}</td>
                    <td>{{ param2['No de magasin'][11] }}</td>
                    <td>{{ param2['Taux de remplissage'][11] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Potentiel de commandes</h4> 
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Magasin</th>
                    <th>Nombre de commandes prises hier</th>
                    <th>Nombre de commandes prises ces 3 derniers jours</th>
                    <th>Variation VS 2015</th> 
                </tr>
                <tr>
                    <td>{{ param3[0][0] }}</td>
                    <td>{{ param3[0][1] }}</td>
                    <td>{{ param4[0][1] }}</td>
                    <td>{{ param4[0][2] }}</td>
                </tr>
                <tr>
                    <td>{{ param3[1][0] }}</td>
                    <td>{{ param3[1][1] }}</td>
                    <td>{{ param4[1][1] }}</td>
                    <td>{{ param4[1][2] }}</td>  
                </tr>
                <tr>
                    <td>{{ param3[2][0] }}</td>
                    <td>{{ param3[2][1] }}</td>
                    <td>{{ param4[2][1] }}</td>
                    <td>{{ param4[2][2] }}</td> 
                </tr>
                <tr>
                    <td>{{ param3[3][0] }}</td>
                    <td>{{ param3[3][1] }}</td>
                    <td>{{ param4[3][1] }}</td>
                    <td>{{ param4[3][2] }}</td> 
                </tr>
                <tr>
                    <td>{{ param3[4][0] }}</td>
                    <td>{{ param3[4][1] }}</td>
                    <td>{{ param4[4][1] }}</td>
                    <td>{{ param4[4][2] }}</td>
                </tr>
                <tr>
                    <td>{{ param3[5][0] }}</td>
                    <td>{{ param3[5][1] }}</td>
                    <td>{{ param4[5][1] }}</td>
                    <td>{{ param4[5][2] }}</td> 
                </tr>
                <tr>
                    <td>{{ param3[6][0] }}</td>
                    <td>{{ param3[6][1] }}</td>
                    <td>{{ param4[6][1] }}</td>
                    <td>{{ param4[6][2] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">TTR sur les 7 derniers jours</h4> 
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr> 
                    <td>TTR</td>
                    <td>Valeur</td>
                </tr>
                <tr>
                    <td>TTR site</td>
                    <td>{{ param5[0] }}</td>
                </tr>
                <tr>
                    <td>TTR appli</td>
                    <td>{{ param5[1] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}